<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Função:</strong>
  <%= @employee.user.function %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee), class: "btn btn-dark" %> 
<%= link_to 'Voltar', employees_path, class: "btn btn-dark" %>
